@model IList<Microsoft.AspNetCore.Authentication.AuthenticationScheme>

<hr />
<div class="social-login pb-0 mb-0">
    @foreach (var provider in Model)
    {
        var signType = ViewData["SignType"] as string;
        @if (provider.Name.Contains("facebook", StringComparison.OrdinalIgnoreCase))
        {
            <button type="submit" class="btn btn-block facebook-btn" name="provider" value="@provider.Name"
                    title="Sign up using your @provider.DisplayName account">
                <i class="fab fa-facebook-square"></i>&nbsp;&nbsp;Sign @signType with @provider.DisplayName
            </button>
        }
        else if (provider.Name.Contains("microsoft", StringComparison.OrdinalIgnoreCase))
        {
            <button type="submit" class="btn btn-block microsoft-btn" name="provider" value="@provider.Name"
                    title="Sign up using your @provider.DisplayName account">
                <i class="fab fa-windows"></i>&nbsp;&nbsp;Sign @signType with @provider.DisplayName
            </button>
        }
        else if (provider.Name.Contains("google", StringComparison.OrdinalIgnoreCase))
        {
            <button type="submit" class="btn btn-block google-btn" name="provider" value="@provider.Name"
                    title="Sign in using your @provider.DisplayName account">
                <i class="fab fa-google"></i>&nbsp;&nbsp;Sign @signType with @provider.DisplayName
            </button>
        }
        else
        {
            <button type="submit" class="btn btn-primary form-control" name="provider" value="@provider.Name"
                    title="Sign @signType using your @provider.DisplayName account">
                @provider.DisplayName
            </button>
        }
    }
</div>
