@page
@using TasteStore.Utility
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form id="profile-form" method="post">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-12 px-3" style="border-bottom: 1px solid #325d88">
                <h2 class="text-primary">Profile</h2>
            </div>
            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Username"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="Username" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Input.Role"></label>
                    </div>
                    <div class="col-9">
                        @if (User.IsInRole(SD.ManageRole))
                        {
                            <input type="radio" asp-for="Input.Role" value="@SD.KitchenRole" /> @SD.KitchenRole
                            <input type="radio" asp-for="Input.Role" value="@SD.CustomerRole" /> @SD.CustomerRole
                            <input type="radio" asp-for="Input.Role" value="@SD.FromDeskRole" /> @SD.FromDeskRole
                            <input type="radio" asp-for="Input.Role" value="@SD.ManageRole" /> @SD.ManageRole
                        }
                        else
                        {
                            <input asp-for="Input.Role" class="form-control" disabled />
                        }
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Input.Email"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Input.FirstName"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Input.LastName"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Input.PhoneNumber"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            @{ 
                                var isManageRole = User.IsInRole(SD.ManageRole);
                            }

                            @if (isManageRole)
                            {
                                <div class="col-6">
                                    <a asp-page="/Admin/User/Index" class="btn btn-success form-control">Back to list</a>
                                </div>
                            }

                            <div class="col-6 @(!isManageRole ? "offset-6" : "")">
                                <button type="submit" class="btn btn-primary form-control">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}