@page
@model RegisterModel
@using TasteStore.Utility
@{
    ViewData["Title"] = "Register";
}

<div class="py-4 my-4">
    <div class="row form-group">
        <div class="col-8 offset-2">
            <div class="card">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body px-lg-5 pt-4">
                    <form method="post" autocomplete="off" asp-route-returnUrl="@Model.ReturnUrl">
                        <h3 class="col-12 text-success text-center">
                            <strong>Sign up</strong>
                        </h3>
                        <hr />
                        <div class="form-row py-2">
                            <div class="col">
                                <div>
                                    <input type="text" asp-for="Input.FirstName" autocomplete="off" placeholder="First Name" class="form-control" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <input type="text" asp-for="Input.LastName" autocomplete="off" placeholder="Last Name" class="form-control" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="py-2">
                            <input type="email" asp-for="Input.Email" autocomplete="off" placeholder="E-mail" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input type="text" asp-for="Input.PhoneNumber" autocomplete="off" placeholder="Phone Number" class="form-control" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input type="password" asp-for="Input.Password" autocomplete="off" placeholder="Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input type="password" asp-for="Input.ConfirmPassword" autocomplete="off" placeholder="Confirm Password" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        @if (User.Identity.IsAuthenticated && User.IsInRole(SD.ManageRole))
                        {
                            <div class="py-2">
                                <input type="radio" asp-for="Input.UserRole" value="@SD.KitchenRole" /> @SD.KitchenRole
                                <input type="radio" asp-for="Input.UserRole" value="@SD.CustomerRole" checked /> @SD.CustomerRole
                                <input type="radio" asp-for="Input.UserRole" value="@SD.FromDeskRole" /> @SD.FromDeskRole
                                <input type="radio" asp-for="Input.UserRole" value="@SD.ManageRole" /> @SD.ManageRole
                                <div>
                                    <span asp-validation-for="Input.UserRole" class="text-danger"></span>
                                </div>
                            </div>
                        }

                        <div class="py-2">
                            <button type="submit" class="btn btn-success form-control">Register</button>
                        </div>
                        <hr />
                        <p>
                            By clicking <em>Register</em> you agree to our <a asp-page="/Privacy" target="_blank">terms of service</a>
                        </p>
                    </form>

                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <hr />
                        <div class="row">
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <div class="col-6">
                                    @if (provider.Name.Contains("facebook", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <button type="submit" class="btn btn-block facebook-btn" name="provider" value="@provider.Name"
                                                title="Sign up using your @provider.DisplayName account">
                                            <i class="fab fa-facebook-square"></i>&nbsp;&nbsp;Sign up with @provider.DisplayName
                                        </button>
                                    }
                                    else if (provider.Name.Contains("microsoft", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <button type="submit" class="btn btn-block microsoft-btn" name="provider" value="@provider.Name"
                                                title="Sign up using your @provider.DisplayName account">
                                            <i class="fab fa-windows"></i>&nbsp;&nbsp;Sign up with @provider.DisplayName
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary form-control" name="provider" value="@provider.Name"
                                                title="Sign up using your @provider.DisplayName account">
                                            @provider.DisplayName
                                        </button>
                                    }
                                </div>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
